.card-image {
    max-height: 300px;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

.btn-yellow {
    color: #fff;
    background-color: #e1a027;
    border-color: #e1a027;
    font-variant: small-caps;
}

.card-agenda-cultural {
    padding: 15px;
    flex-direction: row;
}

.icba {
    padding-right: 10px;
    border-right: 2px solid rgba(0,0,0,.125);
}



@media screen and (max-width: 768px) {
    .card-agenda-cultural {
        flex-direction: column;
    }

    .agenda-cultural-item {
        width: 100%;
    }

    .icba {
        border-right: none;
        border-bottom: 2px solid rgba(0,0,0,.125);
    }
    

}



.logo-agenda-cultural {
    width: 5rem;
}



  .agenda-cultural-item {
      padding: 1rem;
  }