@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.currentEdition__box {
  position: relative;
  display: block;
  height: auto;
  overflow: hidden;
  padding-bottom: 3rem;
}

@media screen and (max-width: 576px) {
  .currentEdition__box {
    padding-bottom: 1rem;
  }
}

.currentEdition, .currentEdition__title {
  padding-right: 0;
  padding-left: 0;
  z-index: 5;
}
.currentEdition {
  top: 2rem;
  position: relative;
}

@media screen and (max-width: 576px) {
  .currentEdition {
    top: 0;
    height: auto;
    }
}

.cover {
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(5px 5px 5px #222);
}


.currentEdition__title {
  position: absolute;
  bottom: 20px;
  right: 0;
}

@media screen and (max-width: 576px) {
  .currentEdition__title {
    bottom: 0.5rem;
  }
}
@media screen and (max-width: 1200px) {
  .currentEdition__title {
    bottom: 10px;
  }
}

.currentEdition__title h1 {
  background:rgba(1, 65, 43, 0.6);
  padding: 1rem;
  color: #e1a027;
  font-size: 3rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .currentEdition__title h1 {
    font-size: 2rem;
    }
}
@media screen and (max-width: 576px) {
  .currentEdition__title h1 {
    padding: 14px 14px 14px 30px;
    font-size: 1.5rem;
    bottom: 0;
    margin: 0;
    width: 100%;
    background:rgba(1, 65, 43, 0.9);
    }
}
.flower {
  z-index: 10;
  position: absolute;
  bottom: 20px;
  right: 40px;
  width: 100%;
  max-width: 14rem;
  height: auto;
  display: block;
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(5px 5px 5px #222);
}

@media screen and (max-width: 1200px) {
  .flower {
    width: 100%;
    max-width: 10rem;
     right: 20px;
  }
}

@media screen and (max-width: 576px) {
  .flower {
    max-width: 5rem;
    bottom: 0px;
    right: 20px;
  }
}



#carouselBolivia {
  z-index: -1;
  position: absolute;
  display: block;
  width: 100%;
  margin-top: 0;
}

@media screen and (max-width: 576px) {
  #carouselBolivia {
    display: none;
    }
}
.carousel-inner {
  max-height: 600px !important;
  z-index: -1;
  position: relative;
  display: flex;
}

.carousel-item {
  background: rgb(1, 65, 43);

}

.carousel-item img {
  position: relative;
  z-index: -1;
  position: relative;
  -webkit-filter: sepia(2);
  filter: sepia(1);
  /*filter: grayscale(100%);*/
  opacity: .5;
  -moz-transition: opacity .3s linear;
  -webkit-transition: opacity .3s linear;
  -ms-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.carousel-indicators {
  top: 10px;
  padding-right: 3rem;
  bottom: 0;
}

