:root {
    --white: #ffffff;
    --yellow: #E2A227;
    --green: #224036;
    --green05: rgba(34, 64, 54, 0.5);
    --green07: rgba(34, 64, 54, 0.7);
    --grey: #e6e6e6;
    --brown: #b62501;
    --dark07: rgba(0, 0, 0, 0.7);
    --dark05: rgba(0, 0, 0, 0.5);
    --dark02: rgba(0, 0, 0, 0.2);
}

.text-yellow {
 color: var(--yellow);
}

.text-brown {
 color: var(--brown);
}

.bg-contact {
    background: var(--green05);
}

.bg-grey {
    background: var(--grey);
}

.bg-white {
    background: var(--white);
}

.navbar-nav .list-item.active a {
  color: var(--yellow);
}

.page-title-marginTop {
    margin-top: 13%;
}

.content {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    font: 1em/1.8em 'Open Sans';
    padding: 30px;
    overflow: hidden;
}

.content-index-currentEdition {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    margin-top:  20px;
    padding: 30px;
    background: var(--grey);
}

.content-index-currentEdition::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid var(--grey);
    left: 16%;
    margin-top: -56px;
    z-index: -1;
}

h1.page-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 3rem;
    font-weight: bold;
}

h2.page-subtitle {
    position: relative;
    font-size: 2rem;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--green07);
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    padding-bottom: 0.8rem;
    font-weight: bold;
    border-bottom: 1px solid var(--yellow);
}

h3.article-sub-subtitle {
    font-size: 1.3rem;
    font-weight: bold;
}

/*h2.page-subtitle::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid var(--green07);
    width: 60%;
    bottom: 0;
    margin-left: 10px;
}*/


/* Contact us */

#contact-us  {
    background: url("../images/contact-us/world-maps.png") no-repeat center center;
    background-size: contain;
}

#contact-us p {
    color: #ffffff;
}

#contact-us a {
    color: #ffffff;
    text-decoration: none;
}

#contact-us a:hover {
    color: #E2A227;
}

#contact-us h2 {
    font-size: 2rem;
    letter-spacing: 2px;
}

/* scroll to top */

#toTop {
    display: none;
    position: fixed;
    bottom: 45px;
    right: 30px;
    z-index: 99;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--green);
    cursor: pointer;
  }

  #toTop:hover {
    color: var(--yellow);
  }


  /* Current Edition Page */

  #currentEditionPage .nav-tabs .nav-link:not(.active)::after {
    display:block;
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: var(--green);
    opacity:.3;
    margin-left: 0.9rem;
    margin-right: 0.9rem;

}

  .currentEditionPage-subtitle {
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    padding: 1rem;
    background: var(--yellow);
    font-weight: bold;
  }

  .card-body-height {
      height: 7rem;
  }

.tab-content-withBorder {
    border-top: none;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    overflow: hidden;
}

.author {
    font-style: italic;
    color: var(--brown);
    line-height: 1.2;
}

.lead-article {
    font-size: 1.3rem;
    /* font-weight: bold; */
    letter-spacing: 2px;
}

p.articleFirst-p::first-letter {
  color: var(--brown);
  float: left;
  font-size: 5em;
  margin: 0 .1em 0 0;
  display: inline;
  line-height: .8em;
}

.img-container {
    max-width: 100%;
    /* max-width: 20rem; */
    height: 25rem;
    position: relative;
    overflow: hidden;
}

.img-container-25rem {
    max-width: 25rem;
    position: relative;
    clear: both;
}

@media screen and (max-width: 768px) {
    .img-container {
        text-align: center;
        width: 100%;
        display: block;
        float: none;
        clear: both;
    }
}


.img-container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    padding-right: 0;
}

.img-author {
    position: absolute;
    bottom: 0.3rem;
    left: 15px;
    margin: 0 -15px 0 0;
    background: var(--dark07);
    font-size: 0.7rem;
    padding: 0.5rem;
    line-height: 1;
  }

  .img-float-right {
      float: right;
      margin-left: 1rem;
      margin-bottom: 1rem;
  }

  .img-float-left {
      float: left;
      margin-right: 1rem;
      margin-bottom: 1rem;
  }

  /* .bottom-border {
    margin: 5rem auto 1rem;
    border-bottom: 2rem solid orange;
    border-image: url(../images/_global/border.png) 40;
    width: 60%;
    display: block;
} */

.bottom-border {
    margin: 5rem auto 1rem;
    border-bottom: 1px solid var(--yellow);
    display: block;
}

.img-caption {
    width: 100%;
    padding: 0.7rem;
    color: var(--brown);
    font-style: italic;
    text-align: center;
    font-size: 0.9rem;
}


/* ------ Soucer ------*/

.sources {
    font-size: 0.7rem;
    color: var(--green05);
}

/* ------ Agenda Cultural ------*/

.agendaCultural-list {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    column-gap: 2rem;
}

@media screen and (max-width: 576px) {
    .agendaCultural-list {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;

    }
}

.agendaCultural-items {
    line-height: 1.2rem;
}

/*--Content Past Editions*/



a.pastEditions-tabYears {
    padding: .6rem 1.4rem;
    color: var(--dark05);
    font-size: 1.3rem;
    background: #ffffff;
    margin: 4px;
    font-weight: bold;
}

a.pastEditions-tabYears:hover{
    color: var(--brown);
    margin-bottom: -1.5px;
    border-bottom: none;

}

.nav-tabs .nav-item {
    margin-bottom: 0.5px;
}

#pastEditions .nav-tabs .nav-link.active {
    color: var(--brown);
    margin-bottom: -1.5px;
}

.pastEditions__img-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}


.pastEditions__img-container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.pastEditions__img-container a {
    color: var(--yellow);
}
.pastEditions__img-container a:hover .pastEditions__heading {
    display: none;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.pastEditions__img-container a:hover img {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.pastEditions__heading {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--green07);
    font-size: 1.3rem;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 0;
  }