@import 'fonts.css';
@import 'header.css';

footer {
    font: 1em/1.5em 'Open Sans';
    background: rgba(34, 64, 54, 0.7);
    color: #ffffff;
    text-transform: uppercase;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #E2A227;
}

nav.footer__menu > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

@media screen and (max-width: 768px) {
    nav.footer__menu > ul {
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 1em 0;
    }
}

nav.footer__menu .list-item {
    padding: 1.2em 0;
}
@media screen and (max-width: 768px) {
    nav.footer__menu .list-item {
        padding: 0.5em 0;
        border-bottom: 1px solid  rgb(34, 64, 54);
    }
}

nav.footer__menu .list-item a {
    padding: 0 1.2em;
    line-height: 1.2;
    border-right: 1px solid #ffffff;
}
@media screen and (max-width: 768px) {
   nav.footer__menu .list-item a {
        border-right: none;
    }
}


nav.footer__menu .list-item:last-child a {
    border-right: none;
}
nav.footer__menu .list-item:last-child {
    border-bottom: none;
}

/*footer LOGOS*/

.footer__logos {
    border-top: 1px solid #8b8b8b;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
    .footer__logos {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

.footer__logoCochabanner, .footer__logoProjectsAbroad {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer__logos .logo strong {
    font-size: 30px;
    font-family: 'Open Sans Extra-Bold', sans-serif;
}

.footer__logos a.logo:hover {
        color: #E2A227 !important;
        -ms-transform: scale(1.1, 1.1);
        /* IE 9 */

        -webkit-transform: scale(1.1, 1.1);
        /* Safari */

        transform: scale(1.1, 1.1);
        /* Standard syntax */
        text-decoration: none;

}

/*copyright*/

.footer__copyright {
    font: 14px/20px 'Open Sans';
    padding: 1em;
    background: #224036;
    text-transform: none;
    display: flex;
    justify-content: center;

}

.footer__email {
     text-transform: none;
}